/*Шрифты*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&display=swap');


/*ОСНОВА*/

a {
    text-decoration: none;
    color: black;

}

.nodrag{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#per {
    left: 0px;
    width: 100%;
    position: absolute;
    top: 80%
}

#logo {
    width: 38%;
    text-align: right;
    margin-right: 50%;
}

html {
    font-family: 'Jost SemiBold', sans-serif;
    font-size: 18pt;
    margin-right: 10%;
    background-color: black;
}

body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

nav:last-of-type {
    margin-left: auto;
  }

.headers a {
    text-decoration: none;
    color: white;
    margin-left: 150px;
}

.login {
    display: grid;
    grid-template-columns: 0% 90%;
    color: #72B01D;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login a{
    color: #72B01D;
    margin-left:0px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login img {
    width:35px;
    margin-right:5px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-bottom: 2px;`
}

.osn {
    background-color: rgb(241, 241, 241);
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mains {
  width: 100%;
  display: flex;
  flex-basis: calc(100% / 2);
  vertical-align: middle;
  line-height: normal;
  justify-content: center;
  margin-right: 5%;
  margin-left: 5%;
}

.box1 {
    width: 90%;
    margin-left: max(30px, 5%);
    margin-right: 5%;
    margin-top: 3%;
    min-width: 345px;
}

.ven {
    background-color: white;
    width: 100%;
    padding-left: 1.25%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    margin-bottom: 3%;
    color: black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 2.5%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.x {
    padding-right: 1.25%;
    background-color: 0;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
}

.box1 img {
    width: 40%;
    min-width: 200px;
    border-radius: 15px;
}

.box2 {
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding-top: 25px;
    margin-top: 3%;
    color: black;
    border-radius: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    min-width: 305px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    margin-right: 5%;
    flex-direction: column;
    min-height: 300px;
    max-height: 300px;
}

.box2 h1 {
        font-family: 'Jost light', sans-serif;
    color:black;
    font-size: 20pt;
    text-align: center;
    margin: 0px;
}

.box2 h2 {
    color: #72B01D;
    font-family: 'Jost SemiBold', sans-serif;
    font-size: 25pt;
    margin: 0px;
}

.pays {
    margin-top: auto;
    background-color: white;
    width: 100%;
    border-radius: 25px;
    padding-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
    align-self: center;
}

.pays #pay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#pay {
    font-family: 'Jost Medium', sans-serif;
    font-size: 12pt;
    background: black;
    color: #A1E06F;
    width: 90%;
    height: 32%;
    line-height: 280%;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 5%;
}

.pays button {
    font-family: 'Jost Medium', sans-serif;
    font-size: 12pt;
    color: black;
    background-color: #A1E06F;
    border: 0;
    border-radius: 10px;
    margin-left: 0%;
    width: 44%;
    margin-top: 5%;
    height: 32%;
    line-height: 280%;
    white-space: nowrap;
}

.settings {
    width: 100%;
}

.settings h1{
    font-family: 'Jost light', sans-serif;
    color:black;
    margin-bottom: 0px;
    font-size: 18pt;
}

.settings h2 {
    margin-top: 1%;
    color: #72B01D;
    font-family: 'Jost SemiBold', sans-serif;
    font-size: 23pt;
    margin-bottom: 5%;
}

.number {

    margin-left:auto;
    margin-right:auto;
    text-align: left;
	display: inline-block;
	position: relative;
	width: 50%;
	min-width: 90px;
	margin-bottom: 0%;
}
.number input[type="number"] {
	display: block;
	height: 32px;
	line-height: 32px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
	border: 0.1px solid #ddd;
	border-radius: 10px;
}

input {outline:none;}

.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.number-minus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px 0 0 10px;
}
.number-plus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	font-size: 16px;
	font-weight: 600;
	border-radius: 0 10px 10px 0;
}





@media (max-width: 1500px) {

    .osn {
        top: 15%;
    }

}

@media (max-width: 1200px) {

    .osn {
        top: 13%;
    }
}


@media (max-width: 1000px) {

    .headers a {
    font-size: 16pt;
    margin-left: 105px;
    }

    .login a{
    color: #72B01D;
    margin-left:0px;
    }
    .login img {
    width:30px;
    margin-right: 1px;
    }
}

@media (max-width: 790px) {

      .mains {
      flex-direction: column;
      margin-left: 10%;
    }

    .box1 {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
    min-width: 305px;
    order: 2;
    }
    .box2 {
    order: 1;
    width: 93%;
    max-width: 800px;
    height: 20%;
    margin-bottom: 2%;
    }

    .osn {
        width: 100%;
        height: 140%;
        top: 10%;
    }

    .headers a {
    font-size: 14pt;
    margin-left: 63px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }
    .login img {
    width:26px;
    margin-right: -3px;
    }
}

@media (max-width: 600px) {

    .headers a {
    font-size: 11pt;
    margin-left: 54px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

        .login img {
    width:20px;
    margin-right: -5px;
    }

    .osn {
        top: 9%;
    }
}

@media (max-width: 500px) {

    .osn {
        width: 100%;
        height: 140%;
        top: 9%;
    }

    .headers a {
    font-size: 10pt;
    margin-left: 48px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

}

@media (max-width: 450px) {

        .headers a {
    font-size: 10pt;
    margin-left: 35px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

}

@media (max-width: 410px) {

    .headers a {
    font-size: 8pt;
    margin-left: 24px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

    .osn {
        top: 8%;
    }

    .settings h1 {
        font-size: 13pt;
    }

    .settings h2 {
        font-size: 15pt;
    }
}

