/*Шрифты*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&display=swap');


/*ОСНОВА*/

a {
    text-decoration: none;
    color: white;

}

.nodrag{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#per {
    left: 0px;
    width: 100%;
    position: absolute;
    top: 80%
}

#logo {
    position: absolute;
    width: 38%;
    top: 22%;
    right: 10%;
}

html {
    font-family: 'Jost SemiBold', sans-serif;
    font-size: 18pt;
    margin-right: 10%;
}

body {
    background-image: url("../img/2.png");
    color: white;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

nav:last-of-type {
  margin-left: auto;
}

.headers a {
  font-family: 'Jost SemiBold', sans-serif;
  text-decoration: none;
  color: white;
  margin-left: 150px;
}

.login {
    display: grid;
    grid-template-columns: 0% 90%;
    color: #72B01D;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login a{
    color: #72B01D;
    margin-left:0px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login img {
    width:35px;
    margin-right:5px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-bottom: 2px;`
}

.about_us {
    position: absolute;
    top: 15%;
    left: 8.5%;
    color: rgb(255, 255, 255);
    width: 80%;
    height: 40vh;
    margin-top: 0px;
    margin-bottom: 2%;
    text-align: justify;
}

.about_us h1 {
    color: rgb(255, 255, 255);
    font-family: 'Jost SemiBold', sans-serif;
    border-bottom: 0px;
    border-top: 4%;

}

.about_us h2 {
    color: rgb(255, 255, 255);
    font-family: 'Jost Light', sans-serif;
    font-size: 10pt;
    margin-bottom: 2%;
    border-top: 0;

}



@media (max-width: 1000px) {

    .headers a {
    font-size: 16pt;
    margin-left: 105px;
    }

    .login a{
    color: #72B01D;
    margin-left:0px;
    }
    .login img {
    width:30px;
    margin-right: 1px;
    }
}

@media (max-width: 780px) {
    .headers a {
    font-size: 14pt;
    margin-left: 63px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }
    .login img {
    width:26px;
    margin-right: -3px;
    }
}

@media (max-width: 600px) {

    .headers a {
    font-size: 11pt;
    margin-left: 54px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

        .login img {
    width:20px;
    margin-right: -5px;
    }
}

@media (max-width: 500px) {

    .headers a {
    font-size: 10pt;
    margin-left: 48px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

}

@media (max-width: 450px) {

        .headers a {
    font-size: 10pt;
    margin-left: 35px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

}

@media (max-width: 410px) {

    .headers a {
    font-size: 8pt;
    margin-left: 24px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }
}