/*Шрифты*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&display=swap');


/*ОСНОВА*/

a {
    text-decoration: none;
    color: black;

}

.nodrag{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#per {
    left: 0px;
    width: 100%;
    position: absolute;
    top: 80%
}

#logo {
    width: 38%;
    text-align: right;
    margin-right: 50%;
}

html {
    font-family: 'Jost SemiBold', sans-serif;
    font-size: 18pt;
    margin-right: 10%;
    background-color: black;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

nav:last-of-type {
    margin-left: auto;
  }

.headers a {
    text-decoration: none;
    color: white;
    margin-left: 150px;
}

.login {
    display: grid;
    grid-template-columns: 0% 90%;
    color: #72B01D;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login a{
    color: #72B01D;
    margin-left:0px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login img {
    width:35px;
    margin-right:5px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-bottom: 2px;`
}

.osn {
    background-color: rgb(241, 241, 241);
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
}

.mains {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 10%;
    margin-top: 5%;
}

.Oimage {
    background-color: #E9E9E9;
    top: 10%;
    left: 15%;
    width: 100%;
    height: 98.5%;
    margin-right: 50px;
    min-width: 250px;
    max-width: 800px;
    border-radius: 18px;
}

.Oimage img{
    width: 100%;
    border-radius: 15px;
}

.navigate {
    display:block;
    top: 27%;
    right: 16%;
    width: 70%;
    min-width: 250px;
    margin-left: 5%;
}

.navigate h2 {
    font-family: 'Jost Regular', sans-serif;
    color: black;
    font-size: 25pt;
    right: 10%;
    margin-bottom: 7%;
}

.navigate h1 {
    font-family: 'Jost Regular', sans-serif;
    color: black;
    font-size: 40pt;
    right: 10%;
    margin-bottom: 7%;
}

.navigate h3 {
    font-family: 'Jost Regular', sans-serif;
    color: #646464;
    font-size: 13pt;
    right: 10%;
    margin-bottom: 1%;
}

.sizes {
    column-count: 3;
    column-width: calc(100% / 3);
}

.sizes span:hover{
    border: green solid 1px;
}

.pays {
    margin-top: 4%;
    background-color: white;
    width: 103%;
    border-radius: 15px;
    padding-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
}

.pays #pay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#pay {
    font-family: 'Jost Medium', sans-serif;
    font-size: 12pt;
    background: black;
    color: #A1E06F;
    width: 90%;
    height: 32%;
    line-height: 280%;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 5%;
}

.pays button {
    font-family: 'Jost Medium', sans-serif;
    font-size: 12pt;
    color: black;
    background-color: #A1E06F;
    border: 0;
    border-radius: 10px;
    margin-left: 5%;
    width: 42%;
    margin-top: 5%;
    height: 32%;
    line-height: 280%;
    white-space: nowrap;
}

.description {
    margin-left: 9.5%;
    margin-top: 1%;
    width: 80%;
    text-align: justify;
}

.description h1 {
    font-family: 'Jost SemiBold', sans-serif;
    font-size: 22pt;
    color: black;
}

.description h2 {
    font-family: 'Jost Light', sans-serif;
    font-size: 14pt;
    color: black;
}

.sizes label {
  margin-right: 5%;
  display: block;
  margin-bottom: 5%;
}

.sizes label span {
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 10pt;
  right: 10%;
  margin-bottom: 10%;
  background-color: #D9D9D9;
  border: #C2C2C2 solid 1px;
  text-align: center;
  border-radius: 8px;
  width: 110%;
  height: 100%;
  line-height: 250%;
  margin-bottom: 5px;
}

.sizes input[type="radio"] {
  display: none;
}

.sizes input[type="radio"]:checked + span {
  border-color: green;
}

@media (max-width: 1500px) {

    .osn {
        top: 15%;
    }

    .description {
    margin-left: 10%;
    margin-top: -2%;
    width: 80%;
    }

}

@media (max-width: 1200px) {

    .osn {
        top: 13%;
    }

        .description {
    margin-left: 10%;
    margin-top: -8%;
    width: 45%;
    }

}

@media (max-width: 1000px) {

    .headers a {
    font-size: 16pt;
    margin-left: 110px;
    }

    .osn {
        top: 11%;
    }

            .description {
    margin-left: 10%;
    margin-top: -15%;
    width: 45%;
    }

    .pays button {
        font-size: 10pt;
    }
}

@media (max-width: 780px) {

    .osn {
        top: 10%;
        padding-bottom: 65%;
    }

    .headers a {
    font-size: 14pt;
    margin-left: 76px;
    }

        .navigate h2 {
        font-family: 'Jost Regular', sans-serif;
        color: black;
        font-size: 20pt;
        right: 10%;
        margin-bottom: 7%;
    }

    .navigate h1 {
        font-family: 'Jost Regular', sans-serif;
        color: black;
        font-size: 30pt;
        right: 10%;
        margin-bottom: 7%;
    }

    .navigate h3 {
        font-family: 'Jost Regular', sans-serif;
        color: #646464;
        font-size: 12pt;
        right: 10%;
        margin-bottom: 1%;
    }

    .description {
    margin-left: 10%;
    margin-top: -22%;
    width: 45%;
    }
}

@media (max-width: 600px) {

    .headers a {
    font-size: 12pt;
    margin-left: 59px;
    }

    .mains {
        display: grid;
        grid-template-columns: 50%;
        margin-left: 10%;
        margin-top: 5%;
    }

    .Oimage {
        min-width: 400px;
    }

    .osn {
        top: 9%;
    }

    .navigate {
        display:block;
        top: 27%;
        right: 16%;
        width: 40%;
        min-width: 385px;
        margin-left: 5%;
    }

    .navigate h2 {
        font-family: 'Jost Regular', sans-serif;
        color: black;
        font-size: 18pt;
        right: 10%;
        margin-bottom: 7%;
    }

    .navigate h1 {
        font-family: 'Jost Regular', sans-serif;
        color: black;
        font-size: 28pt;
        right: 10%;
        margin-bottom: 7%;
    }

    .navigate h3 {
        font-family: 'Jost Regular', sans-serif;
        color: #646464;
        font-size: 13pt;
        right: 10%;
        margin-bottom: 1%;
    }

        .description {
    margin-left: 10%;
    margin-top: 0%;
    width: 80%;
    min-width: 400px;
    }

}

@media (max-width: 500px) {

    .Oimage {
        min-width: 350px;
    }

    .navigate {
        display:block;
        top: 27%;
        right: 16%;
        width: 50%;
        min-width: 330px;
        margin-left: 5%;
    }

    .navigate h2 {
        font-family: 'Jost Regular', sans-serif;
        color: black;
        font-size: 16pt;
        right: 10%;
        margin-bottom: 7%;
    }

    .navigate h1 {
        font-family: 'Jost Regular', sans-serif;
        color: black;
        font-size: 26pt;
        right: 10%;
        margin-bottom: 7%;
    }

    .navigate h3 {
        font-family: 'Jost Regular', sans-serif;
        color: #646464;
        font-size: 12pt;
        right: 10%;
        margin-bottom: 1%;
    }

    .headers a {
    font-size: 10pt;
    margin-left: 56px;
    }

    .description {
    margin-left: 10%;
    margin-top: 0%;
    width: 80%;
    min-width: 350px;
    }


@media (max-width: 450px) {

        .headers a {
    font-size: 10pt;
    margin-left: 44px;
    }

        .Oimage {
        min-width: 320px;
    }

    .navigate {
        display:block;
        top: 27%;
        right: 16%;
        width: 40%;
        min-width: 300px;
        margin-left: 5%;
    }

    .navigate h2 {
        font-family: 'Jost Regular', sans-serif;
        color: black;
        font-size: 14pt;
        right: 10%;
        margin-bottom: 7%;
    }

    .navigate h1 {
        font-family: 'Jost Regular', sans-serif;
        color: black;
        font-size: 22pt;
        right: 10%;
        margin-bottom: 7%;
    }

    .navigate h3 {
        font-family: 'Jost Regular', sans-serif;
        color: #646464;
        font-size: 10pt;
        right: 10%;
        margin-bottom: 1%;
    }

    .description {
    margin-left: 10%;
    margin-top: 0%;
    width: 80%;
    min-width: 320px;
    }

}

@media (max-width: 410px) {

    .headers a {
    font-size: 8pt;
    margin-left: 34px;
    }

    .Oimage {
        min-width: 290px;
    }

    .navigate {
        display:block;
        top: 27%;
        right: 16%;
        width: 40%;
        min-width: 270px;
        margin-left: 5%;
    }

    .navigate h2 {
        font-family: 'Jost Regular', sans-serif;
        color: black;
        font-size: 12pt;
        right: 10%;
        margin-bottom: 7%;
    }

    .navigate h1 {
        font-family: 'Jost Regular', sans-serif;
        color: black;
        font-size: 20pt;
        right: 10%;
        margin-bottom: 7%;
    }

    .navigate h3 {
        font-family: 'Jost Regular', sans-serif;
        color: #646464;
        font-size: 8pt;
        right: 10%;
        margin-bottom: 1%;
    }

        .description {
    margin-left: 10%;
    margin-top: 0%;
    width: 80%;
    min-width: 290px;
    }
}
