/*Шрифты*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&display=swap');


/*ОСНОВА*/

a {
    text-decoration: none;
    color: black;

}

.nodrag{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#per {
    left: 0px;
    width: 100%;
    position: absolute;
    top: 80%
}

#logo {
    width: 38%;
    text-align: right;
    margin-right: 50%;
}

html {
    font-family: 'Jost SemiBold', sans-serif;
    font-size: 18pt;
    margin-right: 10%;
    background-color: black;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

nav:last-of-type {
    margin-left: auto;
  }

.headers a {
    text-decoration: none;
    color: white;
    margin-left: 150px;
}

.login {
    display: grid;
    grid-template-columns: 0% 90%;
    color: #72B01D;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login a{
    color: #72B01D;
    margin-left:0px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login img {
    width:35px;
    margin-right:5px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-bottom: 2px;`
}

.osn {
    background-color: rgb(241, 241, 241);
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mains {
    background-color: white;
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    margin-top: 3%;
    color: black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
    min-width: 305px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.profile {
    margin-top: 0px
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile img {
    align: center;
    width: 35%;
    min-width: 35%;
    min-width: 105px;
    margin-bottom: 20px;
}

.profile h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20pt;
    font-family: 'Jost Regular', sans-serif;
}

.profile h2 {
    margin-top: 0px;
    font-size: 15pt;
    color: #787878;
    font-family: 'Jost Light', sans-serif;
}

.buttons {
    display: flex;
    width: 60%;
    margin-bottom: 0px;
    margin-top: 3%;
}

.buttons div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
    padding: 10px;
    flex-basis: calc(100% / 2);
}

.buttons .image {
    border-radius: 15px;
    background-color: black;
    width: 45px;  /* Or whatever */
    height: 45px; /* Or whatever */
    margin: auto;  /* Magic! */
    margin-bottom: 0px
}

.buttons h2 {
    color: black;
    font-family: 'Jost Light', sans-serif;
    font-size: 12pt;
    margin-top: 5px;
}

.resetlogin {
    width: 100%;
}

.resetlogin h1{
    font-family: 'Jost SemiBold', sans-serif;
    color: black;
    text-align: center;
    font-size: 15pt;
    padding-top: 2%;
    padding-bottom: 2%;
}

.item {
    margin: 10px;
    display: block;
    justify-content: center;
    align-items: center;

  }

.resetlogin h4 {
    color: black;
    font-family: 'Jost ExtraLight', sans-serif;
    font-size: 12pt;
    justify-content: left;
    margin-left: 0;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: left;
}

.resetlogin input {
    border: 1px rgb(201, 199, 199) solid;
    background-color: #e9e9e9;
    border-radius: 10px;
    width: calc(100% - 15px);
    height: 35px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 10px;
}

.resetlogin button{
    font-family: 'Jost Light', sans-serif;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    margin-top: 5%;
}

#notification-green {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  padding: 10px;
  font-size: 16px;
  z-index: 1;
  animation: fade-out 5s ease-in-out forwards;
  background-color: green;
}

#notification-red {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  padding: 10px;
  font-size: 16px;
  z-index: 1;
  animation: fade-out 5s ease-in-out forwards;
  background-color: red;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#notification.show {
  display: block;
  animation: none;
}

#notification.hide {
  display: none;
}

.hidden {
  display: none;
}



@media (max-width: 1500px) {

    .osn {
        top: 15%;
    }

}

@media (max-width: 1200px) {

    .osn {
        top: 13%;
    }
}


@media (max-width: 1000px) {

    .headers a {
    font-size: 16pt;
    margin-left: 105px;
    }

    .login a{
    color: #72B01D;
    margin-left:0px;
    }
    .login img {
    width:30px;
    margin-right: 1px;
    }
}

@media (max-width: 780px) {

    .osn {
        width: 100%;
        height: 140%;
        top: 10%;
    }

    .headers a {
    font-size: 14pt;
    margin-left: 63px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }
    .login img {
    width:26px;
    margin-right: -3px;
    }
}

@media (max-width: 600px) {

    .headers a {
    font-size: 11pt;
    margin-left: 54px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

        .login img {
    width:20px;
    margin-right: -5px;
    }

    .osn {
        top: 9%;
    }
}

@media (max-width: 500px) {

    .osn {
        width: 100%;
        height: 140%;
        top: 9%;
    }

    .headers a {
    font-size: 10pt;
    margin-left: 48px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

}

@media (max-width: 450px) {

        .headers a {
    font-size: 10pt;
    margin-left: 35px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

}

@media (max-width: 410px) {

    .headers a {
    font-size: 8pt;
    margin-left: 24px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

    .osn {
        top: 8%;
    }
}
