/*Шрифты*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&display=swap');


/*ОСНОВА*/

a {
    text-decoration: none;
    color: black;

}

.nodrag{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#per {
    left: 0px;
    width: 100%;
    position: absolute;
    top: 80%
}

#logo {
    width: 38%;
    text-align: right;
    margin-right: 50%;
}

html {
    font-family: 'Jost SemiBold', sans-serif;
    font-size: 18pt;
    margin-right: 10%;
    background-color: black;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

nav:last-of-type {
    margin-left: auto;
  }

.headers a {
    text-decoration: none;
    color: white;
    margin-left: 150px;
}

.login {
    display: grid;
    grid-template-columns: 0% 90%;
    color: #72B01D;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login a{
    color: #72B01D;
    margin-left:0px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login img {
    width:35px;
    margin-right:5px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-bottom: 2px;`
}

.mains {
    width: 100%;
    margin-left: 10%;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 50% 100%;
    margin-right: 10%;
}

.title {
    margin-right: 10%;
    margin-top: 18%;
    white-space: nowrap;
    margin-right: 550px;
}

.title h1 {
    color: #72B01D;
    font-family: 'Jost Bold', sans-serif;
    font-size: 25pt;
}

.title h2 {
    color: white;
    font-family: 'Jost Thin', sans-serif;
    font-size: 22pt;
}

@media (max-width: 2680px) {

    #logo {
        width: 38%;
        margin-left: 10%;
    }
}

@media (max-width: 1920px) {

    #logo {
        width: 38%;
        margin-left: 10%;
    }
}

@media (max-width: 1200px) {
    .mains {
    margin-left: 5%;
    margin-top: -100px;
    display: grid;
    grid-template-columns: 100%;
    }

    .title {
        text-align:center;
        margin-right: 10%;
        margin-top: 18%;
        margin-left: 10%;
        white-space: nowrap;
    }

    #logo {
    width: 50%;
    margin-left: 27%;
    }

}

@media (max-width: 1000px) {
    .headers a {
    font-size: 16pt;
    margin-left: 105px;
    }

    .login a{
    color: #72B01D;
    margin-left:0px;
    }
    .login img {
    width:30px;
    margin-right: 1px;
    }

    #logo {
    width: 70%;
    margin-left: 17%;
    }
}

@media (max-width: 780px) {

    .mains {
    margin-left: 5%;
    margin-top: -50px;
    display: grid;
    grid-template-columns: 100%;
    }

    .headers a {
    font-size: 14pt;
    margin-left: 63px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }
    .login img {
    width:26px;
    margin-right: -3px;
    }

    .title h1 {
        color: #72B01D;
        font-family: 'Jost Bold', sans-serif;
        font-size: 20pt;
    }

    .title h2 {
        color: white;
        font-family: 'Jost Thin', sans-serif;
        font-size: 18pt;
    }

    #logo {
    width: 90%;
    margin-left: 5%;
    }

}

@media (max-width: 600px) {

    .mains {
    margin-left: 5%;
    margin-top: -20px;
    display: grid;
    grid-template-columns: 100%;
    }

    .headers a {
    font-size: 11pt;
    margin-left: 54px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

        .login img {
    width:20px;
    margin-right: -5px;
    }

    .title h1 {
        color: #72B01D;
        font-family: 'Jost Bold', sans-serif;
        font-size: 18pt;
        width: 128%;
    }

    .title h2 {
        color: white;
        font-family: 'Jost Thin', sans-serif;
        font-size: 16pt;
        width: 128%;
    }

    #logo {
    width: 100%;
    margin-left: 12%;
    }

    .mains {
        margin-left: -5%;
    }

}

@media (max-width: 500px) {
    .headers a {
    font-size: 10pt;
    margin-left: 48px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

    .mains {
    margin-left: 1%;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 100%;
    }

    .title h1 {
        color: #72B01D;
        font-family: 'Jost Bold', sans-serif;
        font-size: 16pt;
    }

    .title {
        text-align:center;
        margin-top: 18%;
        margin-left: 10%;
        white-space: nowrap;
    }

    .title h2 {
        color: white;
        font-family: 'Jost Thin', sans-serif;
        font-size: 14pt;
    }

        .mains {
        margin-left: -5%;
    }

    #logo {
    width: 100%;
    margin-left: 12%;
    }

}

@media (max-width: 450px) {
        .headers a {
    font-size: 10pt;
    margin-left: 35px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }
}

@media (max-width: 410px) {

    .headers a {
    font-size: 8pt;
    margin-left: 24px;
    }
        .login a{
    color: #72B01D;
    margin-left:0px;
    }

        .title h1 {
        color: #72B01D;
        font-family: 'Jost Bold', sans-serif;
        font-size: 15pt;
    }

    .title h2 {
        color: white;
        font-family: 'Jost Thin', sans-serif;
        font-size: 11pt;
    }

    #logo {
    width: 100%;
    margin-left: 10%;
    }

    .mains {
    margin-left: -5%;
    }
}
