<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <title>Admin authorization</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="" >Продукты</a>
            <a href="" >О нас</a>
        </nav>
        <nav>
            <a href="" id="login">Вход</a>
        </nav>
    </header>

    <div class="login">
        <h1 class="item">Войти</h1>
        <form method="POST" action="{{ url_for('adminlogin') }}">
            <h4>Имя</h4>
            <input type="text" id="username" name="username">
            <h4>Пароль</h4>
            <input type="password" id="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>