<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cart.css">
    <title>Профиль</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="/catalog" >Каталог</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav class="login">
            {% if user.is_active %}
            <a href="/cart"><img src="../static/svg/cart.svg" alt=""></a>
            {% endif %}
            <a {% if user.is_active %} href="/profile">Профиль{% else %}  href="/userlogin"> Вход{% endif %}</a>
        </nav>
    </header>

    <div class="osn">
        <div class="mains">
            <div class="box1">
                {% for el in items %}

                <div class="ven">
                    <span class="x" price="{{ Cart.get_quantity(el.id) * el.price }}" data-id="{{ el.id }}" onclick="this.parentElement.remove();">&times;</span>
                    <img src="../static/products_img/{{ el.image }}" alt="">
                    <div class="settings">
                        <h1>{{ el.name }}</h1>
                        <h2>{{ el.price }}</h2>
                        <div class="number">
                            <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                            <input type="number" onchange="this.previousElementSibling.value = this.value;" class="quantity-input" product_id="{{ el.id }}" min="1" value="{{ Cart.get_quantity(el.id) }}" readonly>
                            <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="box2">
                <h1>Общая стоимость</h1>
                <h2 id="total-price">{{ value }}</h2>
                 <div class="pays">
                    <button id="adres">Адрес Доставки</button>
                    <button id="config-pay">Способ оплаты</button>
                    <button id="pay">Купить</button>
                </div>
            </div>
        </div>
    </div>

<script>
    let cartProductIds = [];

    const deleteButtons = document.querySelectorAll('.x');
    deleteButtons.forEach(button => {
        button.addEventListener('click', (event) => {
            const productId = event.target.getAttribute('data-id');
            const productPrice = parseFloat(event.target.getAttribute('price'));
            const totalPriceElement = document.querySelector('#total-price');
            let totalPrice = parseFloat(totalPriceElement.textContent.replace(/[^0-9.-]+/g,""));
            totalPrice -= productPrice;
            totalPriceElement.textContent = totalPrice.toFixed(1);
            cartProductIds = cartProductIds.filter(id => id !== productId);
            fetch('/cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: productId, total_price: totalPrice })
            }).then(response => {
                // handle response here
            }).catch(error => {
                // handle error here
            });
        });
    });

</script>


<script>
    const quantityButtons = document.querySelectorAll('.number-minus, .number-plus');
    quantityButtons.forEach(button => {
        button.addEventListener('click', (event) => {
            const input = event.target.parentNode.querySelector('input[type="number"]');
            const productId = input.getAttribute('product_id');
            const productQuantity = input.value;
            fetch('/update_cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: productId, quantity: productQuantity })
            }).then(response => {
                // handle response here
            }).catch(error => {
                // handle error here
            });
        });
    });
</script>


    <script>
const plusButtons = document.querySelectorAll('.number-plus');
const minusButtons = document.querySelectorAll('.number-minus');
const totalPriceElement = document.querySelector('#total-price');

// функция для обновления общей стоимости
function updateTotalPrice() {
  let totalPrice = 0;
  const quantityInputs = document.querySelectorAll('.quantity-input');
  quantityInputs.forEach(input => {
    const value = parseInt(input.value);
    const price = parseFloat(input.parentNode.previousElementSibling.innerText);
    totalPrice += value * price;
  });
  totalPriceElement.innerText = totalPrice.toFixed(1);
}

// обработчики для кнопок plus и minus
plusButtons.forEach(button => {
  button.addEventListener('click', () => {
    const input = button.parentNode.querySelector('.quantity-input');
    let value = parseInt(input.value);
    value + 1;
    input.value = value;
    updateTotalPrice();
  });
});

minusButtons.forEach(button => {
  button.addEventListener('click', () => {
    const input = button.parentNode.querySelector('.quantity-input');
    let value = parseInt(input.value);
    if (value > 1) {
      value - 1;
    }
    input.value = value;
    updateTotalPrice();
  });
});

// обновить общую стоимость при загрузке страницы
updateTotalPrice();

    </script>


</body>
</html>