<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/catalog.css">
    <title>Каталог</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="" >Продукты</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav>
            <a href="/userlogin" id="login">Вход</a>
        </nav>
    </header>

    <div class="osn">
        <div class="filters">
            <div class="param1">
                <h1>Коллеции</h1>
                {% for el in collections %}
                <div class="checkboxs">
                    <label for="col1"><input type="checkbox" id="col1">{{ el.title }}</label>

                </div>
                {% endfor %}
            </div>
            <div class="param2">
                <h1>Фильтр</h1>
                <div class="checkboxs">
                    <label for="fil_1_1"><input type="checkbox" id="fil_1_1">Функция</label>
                    <label for="fil_1_2"><input type="checkbox" id="fil_1_2">Функция</label>
                    <label for="fil_1_3"><input type="checkbox" id="fil_1_3">Функция</label>
                    <label for="fil_1_4"><input type="checkbox" id="fil_1_4">Функция</label>
                    <label for="fil_1_5"><input type="checkbox" id="fil_1_5">Функция</label>
                </div>
            </div>
            <div class="param3">
                <h1>Фильтр</h1>
                <div class="checkboxs">
                    <label for="fil_2_1"><input type="checkbox" id="fil_2_1">Функция</label>
                    <label for="fil_2_2"><input type="checkbox" id="fil_2_2">Функция</label>
                    <label for="fil_2_3"><input type="checkbox" id="fil_2_3">Функция</label>
                    <label for="fil_2_4"><input type="checkbox" id="fil_2_4">Функция</label>
                    <label for="fil_2_5"><input type="checkbox" id="fil_2_5">Функция</label>
                </div>
            </div>
        </div>
        <div class="goods">
            {% for el in catalog %}
            <a href="">
                <div>
                    <img src="/static/products_img/{{ el.image }}" alt="">
                    <h2>{{ el.title }}</h2>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</body>
</html>