<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/catalog.css">
    <title>Каталог</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="" >Продукты</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav>
            <a href="/userlogin" id="login">Вход</a>
        </nav>
    </header>

    <div class="osn">
        <div class="filters">
            <div class="param1">
                <h1>Коллеции</h1>
                <div class="checkboxs">
                    <label for="col1"><input type="checkbox" id="col1">Коллекция1</label>
                    <label for="col2"><input type="checkbox" id="col2">Коллекция2</label>
                    <label for="col3"><input type="checkbox" id="col3">Коллекция3</label>
                    <label for="col4"><input type="checkbox" id="col4">Коллекция4</label>
                    <label for="col5"><input type="checkbox" id="col5">Коллекция5</label>
                </div>

            </div>
            <div class="param2">
                <h1>Фильтр</h1>
                <div class="checkboxs">
                    <label for="fil_1_1"><input type="checkbox" id="fil_1_1">Функция</label>
                    <label for="fil_1_2"><input type="checkbox" id="fil_1_2">Функция</label>
                    <label for="fil_1_3"><input type="checkbox" id="fil_1_3">Функция</label>
                    <label for="fil_1_4"><input type="checkbox" id="fil_1_4">Функция</label>
                    <label for="fil_1_5"><input type="checkbox" id="fil_1_5">Функция</label>
                </div>
            </div>
            <div class="param3">
                <h1>Фильтр</h1>
                <div class="checkboxs">
                    <label for="fil_2_1"><input type="checkbox" id="fil_2_1">Функция</label>
                    <label for="fil_2_2"><input type="checkbox" id="fil_2_2">Функция</label>
                    <label for="fil_2_3"><input type="checkbox" id="fil_2_3">Функция</label>
                    <label for="fil_2_4"><input type="checkbox" id="fil_2_4">Функция</label>
                    <label for="fil_2_5"><input type="checkbox" id="fil_2_5">Функция</label>
                </div>
            </div>
        </div>
        <div class="goods">
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="https://storage.vsemayki.ru/images/0/1/1941/1941345/previews/people_4_manshortfull_front_white_700.jpg" alt="">
                    <h2>Товар</h2>
                    <h1>200р</h1>
                </div>
            </a>
        </div>
    </div>

</body>
</html>