<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/catalog.css">
    <title>Каталог</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="/catalog" >Каталог</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav class="login">
            {% if user.is_active %}
            <a href="/cart"><img src="../static/svg/cart.svg" alt=""></a>
            {% endif %}
            <a {% if user.is_active %} href="/profile">Профиль{% else %}  href="/userlogin"> Вход{% endif %}</a>
        </nav>
    </header>

    <div class="osn">
        <div class="filters">
            <div class="param1">
                <h1>Одежда</h1>
                <div class="checktext">
                    {% for el in collections %}
                    <a href="/catalog/{{ el.id }}">{{ el.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="goods">
            {% for el in catalog %}
            <a href="/catalog/{{ el.id }}">
                <div>
                    <img src="/static/products_img/{{ el.image }}" alt="">
                    <h2>{{ el.title }}</h2>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</body>
</html>