<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/catalog.css">
    <title>Каталог</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="/catalog" >Каталог</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav>
            <a id="login" {% if user.is_active %} href="/profile">Профиль{% else %}  href="/userlogin"> Вход{% endif %}</a>
        </nav>
    </header>

    <div class="osn">
        <div class="filters">
            <div class="param1">
                <h1>Коллекции</h1>
                <form method="GET" action="/catalog/{{ catalog_id }}">
                    <div class="checkboxs">
                        {% for el in collection %}
                            <label><input type="checkbox" name="collection" value="{{ el.id }}"
                                          {% if el.id|string in collections %}checked{% endif %}>{{ el.title }}</label>
                        {% endfor %}
                    </div>
                    <button id="submit" type="submit">Фильтр</button>
                </form>
            </div>

            <form action="/catalog/{{ catalog_id }}">
                <button id="reset">Сбросить</button>
            </form>
        </div>
        <div class="goods">
            {% for el in product %}
            <a href="{{ catalog_id }}/product/{{ el.id }}">
                <div>
                    <img src="/static/products_img/{{ el.image }}" alt="">
                    <h2>{{ el.name }}</h2>
                    <h1>{{ el.price }}Р</h1>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>


</body>
</html>