<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Главная</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="/catalog" >Каталог</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav>
            <a id="login" {% if user.is_active %} href="/profile">Профиль{% else %}  href="/userlogin"> Вход{% endif %}</a>
        </nav>
    </header>
    <img src="static/svg/Vector.svg" style="top: 80%; width: 100%;" class="nodrag" id="per">
    <div class="mains">
        <div class="title">
            <h1>ОБНОВИ СВОЙ СТИЛЬ С НАМИ!</h1>
            <h2>Мерч доступный всем</h2>
        </div>
        <img src="static/img/logo.png" class="nodrag" id="logo">
    </div>

</body>
</html>