<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Главная</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="/catalog" >Каталог</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav>
            <a href="/userlogin" id="login">Вход</a>
        </nav>
    </header>
    <img src="static/img/Vector 1.png" class="nodrag" id="per">
    <img src="static/img/logo.png" class="nodrag" id="logo">
    <div class="title">
        <h1>ОБНОВИ СВОЙ СТИЛЬ С НАМИ!</h1>
        <h2>Мерч доступный всем</h2>
    </div>
    <div class="white">
        <h1>Популярные товары</h1>
        <div class="listpop">
            <img src="static/svg/arrow-left.svg" alt="">
            <div><p>футболка</p></div>
            <div><p>футболка</p></div>
            <div><p>футболка</p></div>
            <img src="static/svg/arrow-right.svg" alt="">
        </div>

        <h1>Коллекции</h1>

        <div class="collection">
            <a href=""><div><p>НЕГР</p></div></a>
            <a href=""><div><p>НЕГР</p></div></a>
            <a href=""><div><p>НЕГР</p></div></a>
            <a href=""><div><p>НЕГР</p></div></a>
            <a href=""><div><p>НЕГР</p></div></a>
            <a href=""><div><p>НЕГР</p></div></a>
            <a href=""><div><p>НЕГР</p></div></a>
            <a href=""><div><p>НЕГР</p></div></a>
            <a href=""><div><p>НЕГР</p></div></a>
        </div>

        <h1 id="text-catalog">Каталог</h1>

        <div class="catalog">
            <a href=""><div><img src="static/img/1.png"><p>футболка</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
            <a href=""><div><img src="static/img/1.png"><p>футбока</p> <h6>2000р</h6></div></a>
        </div>
        <a href="/catalog" id="catalog">больше</a>
    </div>

</body>
</html>