<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/product_style.css">
    <title>Document</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="" >Продукты</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav>
            <a href="/userlogin" id="login">Вход</a>
        </nav>
    </header>

    <div class="osn">
        <div>
<!--             <img src="svg/arrow-down.svg" class="down">
            <img src="svg/arrow-up.svg" class="up">
            <div class="Vimages">
                <div class="Vimage"></div>
                <div class="Vimage"></div>
                <div class="Vimage"></div>
                <div class="Vimage"></div>
            </div> -->
            <div class="Oimage"></div>
        </div>
        <div class="navigate">
            <h2>Товар не реальное имбище</h2>
            <h1>500Р</h1>
            <h3>Размеры:</h3>
            <div class="sizes">
                <button>XXL</button>
                <button>XXL</button>
                <button>XXL</button>
                <button>XXL</button>
                <button>XXL</button>
                <button>XXL</button>
                <button>XXL</button>
                <button>XXL</button>
                <button>XXL</button>
                <button>XXL</button>
                <button>XXL</button>
                <button>XXL</button>
            </div>
            <div class="pays">
                <button id="adres">Адрес Доствки</button>
                <button id="config-pay">Способ оплаты</button>
                <button id="pay">Купить</button>

            </div>
        </div>
        <div class="description">
            <h1>О товаре</h1>
            <h2>Эта вещь - настоящее воплощение качества и стиля! Ее изящный дизайн и непревзойденное качество материала сделают ее незаменимой частью любого гардероба. Этот товар отличается высокой функциональностью и практичностью, что делает его идеальным выбором для любой ситуации. Кроме того, эта вещь прекрасно подойдет как для повседневной носки, так и для особых случаев. Не упустите шанс приобрести этот товар и наслаждаться его безупречным качеством и неповторимым стилем!</h2>
        </div>
    </div>

</body>
</html>
