<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../static/css/product_style.css">
    <title>Document</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="/catalog" >Каталог</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav class="login">
            {% if user.is_active %}
            <a href="/cart"><img src="/../static/svg/cart.svg" alt=""></a>
            {% endif %}
            <a {% if user.is_active %} href="/profile">Профиль{% else %}  href="/userlogin"> Вход{% endif %}</a>
        </nav>
    </header>

    {% block product %}
    <div class="osn">
        <div class="mains">
            <div class="Oimage">
                <img src="/static/products_img/{{ product.image }}" alt="">
            </div>
            <div class="navigate">
                <h2>{{ product.name }}</h2>
                <h1>{{ product.price }}Р</h1>
                <h3>Размеры:</h3>
                <div class="sizes">
                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                    <label>
                        <input type="radio" name="size">
                        <span>XXL</span>
                    </label>
                </div>
                <form method="POST" action="{{ url_for('product_page', catalog_id=catalog_id, product_id=product.id) }}">
                    <div class="pays">
                        <button id="adres">Адрес Доставки</button>
                        <button id="config-pay">Способ оплаты</button>
                        <button id="pay" value="{{ product.id }}" name="pay">Купить</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="description">
            <h1>О товаре</h1>
            <h2>{{ product.description }}</h2>
        </div>
    </div>
    {% endblock %}

</body>
</html>