<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <title>Document</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="/catalog" >Продукты</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav>
            <a href="" id="login">Вход</a>
        </nav>
    </header>

    <div class="login">
        <h1 class="item">Регистрация</h1>
        <form method="post" action="{{ url_for('register') }}">
            <h4>Имя</h4>
            <input type="text" type="text" id="name" name="name" required>
            <h4>Почта</h4>
            <input type="text" type="email" id="email" name="email" required>
            <h4>Пароль</h4>
            <input type="text" type="password" id="password" name="password" require>
            <button id="notification-button">Войти</button>
        </form>
        <h5>Есть? <a href="/userlogin">войди!</a></h5>
    </div>

    <div id="notification-{{ color }}" class="hidden">{{ notification }}</div>

    <script>
      // Находим уведомление по ID
      const notification = document.getElementById("notification-{{ color }}");

      // Показываем уведомление, если оно есть
      if (notification.innerHTML) {
        notification.classList.remove("hidden");

        // Скрываем уведомление через 5 секунд
        setTimeout(function() {
          notification.classList.add("hidden");
        }, 10000);
      }
    </script>
</body>
</html>