<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <title>Document</title>
</head>
<body>

    <header class="headers">
        <nav>
            <a href="/" >Главная</a>
            <a href="/catalog" >Каталог</a>
            <a href="/info" >О нас</a>
        </nav>
        <nav>
            <a id="login" {% if user.is_active %} href="/profile">Профиль{% else %}  href="/userlogin"> Вход{% endif %}</a>
        </nav>
    </header>
    <div class="osn">
        <div class="login">
            <h1 class="item">Войти</h1>
            <form method="POST" action="{{ url_for('userlogin') }}">
                <h4>Почта</h4>
                <input type="text" id="username" name="username">
                <h4>Пароль</h4>
                <input type="password" id="password" name="password">
                <button>Войти</button>
            </form>
            <h5>Нету? <a href="/register">создай!</a></h5>
        </div>
    </div>

    <div id="notification-{{ color }}" class="hidden">{{ notification }}</div>

    <script>
      // Находим уведомление по ID
      const notification = document.getElementById("notification-{{ color }}");

      // Показываем уведомление, если оно есть
      if (notification.innerHTML) {
        notification.classList.remove("hidden");

        // Скрываем уведомление через 5 секунд
        setTimeout(function() {
          notification.classList.add("hidden");
        }, 5000);
      }
    </script>

</body>
</html>